.searchForm__input {
  width: 240px;
  height: $sizeThirty;
  background-color: transparent;
  color: $greyDark;

  &::placeholder {
    font-size: $sizeSixteen;
    line-height: $sizeTwenty;
    color: $greySoft;
  }
}
