.searchForm {
  margin: 0 auto;

  @media all and (min-width: 768px) {
    margin: initial;
  }
}

.searchForm__content {
  width: 270px;
  height: $sizeThirty;
  background-color: $greyBasic;
  border-radius: 15px;
  @include flex-row-vertically-centered;
  padding-right: $sizeFourteen;
}

.searchForm__icon {
  height: 19px;
  margin: 0 $sizeTwelve 0 $sizeTen;
}
