.cardList {
  flex: 1;
  background-color: $greyBasic;
  padding: 24px;

  @media all and (min-width: 500px) {
    padding: 40px;
  }

  @media all and (min-width: 1024px) {
    padding-right: 80px;
    padding-left: 80px;
  }
}