.searchForm {
  margin: 0 auto;

  @media all and (min-width: 768px) {
    margin: initial;
  }
}

.searchForm__content {
  width: 250px;
  height: $sizeTwentyFour;
  background-color: $greyBasic;
  border-radius: $sizeTwelve;
  @include flex-row-vertically-centered;
}

.searchForm__icon {
  height: $sizeSixteen;
  margin: 0 $sizeTwelve 0 $sizeEight;
}
