/* =====================================================
* TOOLS
======================================================== */
/* =====================================================
* SETTINGS
======================================================== */
/* ==========================================================================
   #CORE
   ========================================================================== */
/************************************************************
 * 1. #COLORS
 ************************************************************/
/************************************************************
 * 2. #FONTS
 ************************************************************/
/************************************************************
 * 3. #SIZES
 ************************************************************/
/************************************************************
 * 5. #Z-INDEX
 ************************************************************/
/* =====================================================
* FONTS
======================================================== */
/* =====================================================
* ANIMATIONS
======================================================== */
/* =====================================================
* GENERIC
======================================================== */
/* ==========================================================================
   #GLOBAL
   ========================================================================== */
/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
html,
* {
  box-sizing: border-box; }

/**
  * Remove outline on focused element 
  */
*
*:focus,
*:active {
  outline: 0 !important; }

body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0; }

/**
  * Remove links underline 
  */
a {
  text-decoration: none; }

/**
  * Remove list decoration 
  */
ul {
  list-style: none; }

/**
  * Remove trailing margins from nested lists.
  */
li > ol,
li > ul {
  margin-bottom: 0; }

/**
  * Remove default input border.
  */
input {
  border: 0; }

/* =====================================================
* CAROUSEL
======================================================== */
/* =====================================================
* UTILITIES
======================================================== */
/* =====================================================
* COMPONENTS
======================================================== */
.card {
  width: 100%;
  position: relative;
  margin-bottom: 18px; }
  @media all and (min-width: 768px) {
    .card {
      width: calc(50% - 9px); }
      .card:nth-child(even) {
        margin-left: 9px; }
      .card:nth-child(odd) {
        margin-right: 9px; } }

.card__image {
  display: block;
  width: 100%; }

.card__footer {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card__title {
  font-size: 24px;
  line-height: 30px; }

.card__subtitle {
  font-size: 14px;
  line-height: 16px; }

.card__subtitle_light {
  color: #BFBFBF; }

.cardList {
  flex: 1;
  background-color: #F0F0F0;
  padding: 24px 24px 6px; }
  @media all and (min-width: 768px) {
    .cardList {
      padding: 40px 40px 22px;
      display: flex;
      flex-wrap: wrap; } }
  @media all and (min-width: 1024px) {
    .cardList {
      padding-right: 80px;
      padding-left: 80px; } }

.searchForm {
  margin: 0 auto; }
  @media all and (min-width: 768px) {
    .searchForm {
      margin: initial; } }

.searchForm__content {
  width: 270px;
  height: 30px;
  background-color: #F0F0F0;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding-right: 16px; }

.searchForm__icon {
  height: 19px;
  margin: 0 14px 0 10px; }

.header {
  width: 100%;
  height: 120px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media all and (min-width: 768px) {
    .header {
      padding: 0 80px;
      height: 180px; } }

.header__logo {
  display: none; }
  @media all and (min-width: 768px) {
    .header__logo {
      display: block;
      width: 100px; } }

.searchForm__input {
  width: 240px;
  height: 30px;
  background-color: transparent;
  color: #3E3E40; }
  .searchForm__input::placeholder {
    font-size: 16px;
    line-height: 20px;
    color: #BFBFBF; }

.like {
  padding-top: 20px;
  padding-right: 20px;
  position: absolute;
  top: 0;
  right: 0; }

.like__icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #bfbfbf;
  border-radius: 50%;
  margin-bottom: 4px; }

.like__counter {
  color: white;
  text-align: center; }

/* =====================================================
*OBJECTS
======================================================== */
/* =====================================================
* PAGES
======================================================== */
.mainPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
